<h2>My Heroes</h2>

<div *ngIf="heroes === undefined">
  <img src="http://spcdn1.whichairline.com/1c40c0f0542d7227719eccd99bd71fd172d36e0a/images/loaders/loader-search.gif">
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span> {{hero.name}}      
    <button class="delete" (click)="onDelete(hero);">x</button>

  </li>
</ul>


 
{{selectedHero | json}}
 
 
